/* ----- ANIMATIONS ----- */
@keyframes fadeIn {
    0% { padding-left: 10%; opacity: 0; }
    100% { padding-left: 0; opacity: 1; }
}

.headline {
    margin: 100px 0 50px 0;
    width: 100%;
    color: black;
    animation-name: fadeIn;
    animation-duration: 1.5s;
}

.headline p {
    font-size: 8vmax;
    line-height: 0;
    text-align: center;
}

@media (max-width: 500px) {
    .headline { margin: 100px 0 50px 0; }
    .headline p { font-size: 5vmax; }
}