.back {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 1.5vmax;
    font-weight: bold;
}

a {
    text-decoration: none;
}

@media (max-width: 500px) {
    .content { width: 90%; font-size: 20px; }
    .back { font-size: 20px; }
}