.exbok_box {
    width: 80%;
    margin: auto;
    margin-bottom: 2%;

    display: flex;
    align-items: center;

    /* background: #9B9DEA; */
    color: black;
    border-radius: 10px;
    /* padding: 5%; */

    transition: .5s;
    border: 1px solid grey;
}

.exbok_text {
    width: 45%;
    margin: auto;
    /* margin-bottom: 5px; */
    font-size: 1.5vmax;

    /* border: 1px solid red; */

    display: flex;
    justify-content: center;
    /* align-items: center; */
    text-align: center;
}

.exbok_img {
    width: 50%;
    margin: auto;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    /* border: 1px solid red; */
}

@media (max-width: 500px) {
    .exbok_box { width: 100%; }
    .exbok_img { height: 30vh; width: 100%; }
    .exbok_text { font-size: 2vmax; width: 90%; margin-bottom: 15px; }
    .exbok_box { flex-wrap: wrap; }
}