.footer {
    width: 100%;
    margin: 20px 0;
    font-size: 1.25vmax;
    color: #524B47;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .footer { font-size: 2vmax; }
}
@media (max-width: 900px) and (orientation: landscape)  {
    .footer { font-size: 2vmax; }
}
