.footer {
    margin: 2% 0;
    width: 100%;
    height: 100px;
    color: #524B47;
    font-size: 1.25vmax;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 500px) {
    .footer { font-size: 1.5vmax; }
}
@media (max-width: 900px) and (orientation: landscape)  {
    .footer { font-size: 1.5vmax; }
}
