.headline {
    margin: 100px 0 50px 0;
    width: 100%;
    color: black;

    background: white;
    border: 1px solid white;
}

.headline p {
    font-size: 5vmax;
    margin-left: 10%;
    line-height: 0;
    font-weight: bold;
}

@media (max-width: 500px) {
    .headline { margin: 100px 0 50px 0; }
    .headline p { font-size: 5vmax; }
}