@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;

    /* border: 1px solid red; */
}

.header a {
    color: black;
    font-weight: bold;
    font-size: 1vmax;
    padding: 40px 20px;
    transition: .3s;
}

/* MOBILE HEADER */
#open {
    color: #222222;
    font-weight: bold;
    font-size:25px;
    cursor:pointer;
    padding-left: 10%;
}

#overlay { 
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0; 
    background: #FAFAFA; 
    background: grey;
    overflow-x: hidden; 
    transition: 0.3s; 
} 

#links {
    position: relative; 
    top: 10%; 
    width: 40%;
    padding-left: 10%;

    text-decoration: none;
}

#overlay #close {
    width: 80%;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    font-weight: bold;

    font-size: 25px; 
    color: #222222;
    color: white;
    cursor: pointer;

    text-decoration: none;
}

#overlay a {
    padding: 8px; 
    font-size: 40px; 
    color: #222222; 
    display: block;
    border: none;
    cursor: pointer;
    text-decoration: none;
}


@media (max-width: 500px) {
    .header a { font-size: 2vmax; }
    #open { display: block; }
    .normal_header { display: none; }
    #links { width: 80%; }
    #overlay a {
        font-size: 25px;
    }
    
}
@media (max-width: 900px) and (orientation: landscape)  {
    .header a { font-size: 2vmax; }
    #open { display: block; }
    .normal_header { display: none; }
}