/* ----- ANIMATIONS ----- */
@keyframes fadeInDesktop {
    0% { position: absolute; top: 60%; opacity: 0; }
    100% { position: absolute; top: 16%; opacity: 1; }
}

@keyframes fadeInPhone {
    0% { position: absolute; top: 60%; opacity: 0; }
    100% { position: absolute; top: 10%; opacity: 1; }
}


/* ----- LANDING PAGE ----- */
#landing_page {
    height: 100vh;
    background: url('../photos/background/background2.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
}

#landing_page_content {
    position: absolute;
    top: 16%;
    left: 5%;
    padding: 0 3%;
    animation-name: fadeInDesktop;
    animation-duration: 1.5s
}

#landing_page_content_title {
    width: 70%;
    font-size: 5vmax;
    font-weight: bold;
    color: #524B47;
    line-height: 5.5vmax;
    
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */
}

#landing_page_content_text {
    width: 60%;
    font-size: 2vmax;
    color: #4C535B;
}



@media (max-width: 500px) {
    #landing_page { background-position: top left; }
    #landing_page_content { top: 10%; animation-name: fadeInPhone; }
    #landing_page_content_title { text-align: center; margin: auto; }
    #landing_page_content_text { font-size: 1.25em; width: unset; text-align: center; }
}
@media (max-width: 900px) and (orientation: landscape)  {
    #landing_page_content_title { font-size: 3em; }
}
