.exbok_boxes {
    width: 90%;
    margin: auto;

    /* display: flex;
    flex-wrap: wrap; */
}

.exbok_box {
    width: 90%;
    margin-bottom: 5%;

    display: flex;
    align-items: center;
    flex-wrap: wrap; /* comment this line out? */

    border: 1px solid #E0E0E0;
    border-radius: 10px;
    padding: 5%;
}

.exbok_text {
    width: 50%;
    margin: auto;
    font-size: 1.35vmax;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.exbok_img {
    width: 100%;
    margin: auto;
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.file1 { background-image: url("../assets/example_book/ph1.png"); }
.file2 { background-image: url("../assets/example_book/ph2.png"); }
.file3 { background-image: url("../assets/example_book/ph3.png"); }
.file4 { background-image: url("../assets/example_book/ph4.png"); }
.file5 { background-image: url("../assets/example_book/ph5.png"); }
.file6 { background-image: url("../assets/example_book/ph6.png"); }
.file7 { background-image: url("../assets/example_book/ph7.png"); }
.file8 { background-image: url("../assets/example_book/ph8.png"); }

@media (max-width: 500px) {
    .exbok_img { height: 30vh; }
    .exbok_text { font-size: 2vmax; width: 100%; }
    .exbok_box { flex-wrap: wrap; }
}