.contact_main {
    background-color: #FFB1A3;
}

.contact_content {
    width: 50%;
    margin: auto;
    padding-bottom: 2%;
    font-size: 1.5vmax;

    text-align: center;
}

.contact_content a {
    font-size: 1.5vmax;
}

#contact_img {
    display: block;
    margin: auto;
    padding-bottom: 2%;
}

#info_text {
    font-size: 1.25vmax;
}

@media (max-width: 500px) {
    .contact_content { width: 90%; font-size: 20px; }
    .contact_content a { font-size: 20px; }
    #info_text { font-size: 14px; }
    #contact_img { width: 70%; }
    .contact_main {
        overflow-x: hidden;
    }
}