@font-face{font-family:orpheus-pro;src:url(https://use.typekit.net/af/07139b/000000000000000000016ea5/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/07139b/000000000000000000016ea5/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/07139b/000000000000000000016ea5/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-display:auto;}
@font-face{font-family:orpheus-pro;src:url(https://use.typekit.net/af/972118/000000000000000000016ea6/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/972118/000000000000000000016ea6/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/972118/000000000000000000016ea6/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-display:auto;}
@font-face{font-family:orpheus-pro;src:url(https://use.typekit.net/af/320790/000000000000000000015d5b/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/320790/000000000000000000015d5b/27/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/320790/000000000000000000015d5b/27/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;font-display:auto;}


/* ----- ANIMATIONS ----- */
@keyframes fadeInDesktop {
    0% { position: absolute; top: 60%; opacity: 0; }
    100% { position: absolute; top: 16%; opacity: 1; }
}

@keyframes fadeInPhone {
    0% { position: absolute; top: 60%; opacity: 0; }
    100% { position: absolute; top: 10%; opacity: 1; }
}


/* ----- LANDING PAGE ----- */
#landing_page {
    height: 90vh;
    background: url('../assets/background/background.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
}

#landing_page_content {
    position: absolute;
    top: 16%;
    left: 5%;
    padding: 0 3%;
    animation-name: fadeInDesktop;
    animation-duration: 1.5s
}

#landing_page_content_title {
    font-family: orpheus-pro;
    width: 70%;
    font-size: 5vmax;
    font-weight: bold;
    color: #524B47;
    color: purple;
    line-height: 5.5vmax;
}

#landing_page_content_text {
    width: 60%;
    font-size: 2vmax;
    color: #4C535B;
}


.home_text {
    margin: 3% 5%;
    font-size: 1.5vmax;
    font-style: italic;
    color: #4B545A;
}



@media (max-width: 500px) {
    #landing_page { background-position: top left; }
    #landing_page_content { top: 10%; animation-name: fadeInPhone; }
    #landing_page_content_title { text-align: center; margin: auto; }
    #landing_page_content_text { font-size: 1.25em; width: unset; text-align: center; }
    .home_text { font-size: 1.75vmax; }
}
@media (max-width: 900px) and (orientation: landscape)  {
    #landing_page_content_title { font-size: 3em; }
    .home_text { font-size: 1.75vmax; }
}
