/* @font-face{font-family:orpheus-pro;src:url(https://use.typekit.net/af/07139b/000000000000000000016ea5/27/l?subset_id=2&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/07139b/000000000000000000016ea5/27/d?subset_id=2&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/07139b/000000000000000000016ea5/27/a?subset_id=2&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;font-display:auto;}
@font-face{font-family:orpheus-pro;src:url(https://use.typekit.net/af/972118/000000000000000000016ea6/27/l?subset_id=2&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/972118/000000000000000000016ea6/27/d?subset_id=2&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/972118/000000000000000000016ea6/27/a?subset_id=2&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;font-display:auto;}
@font-face{font-family:orpheus-pro;src:url(https://use.typekit.net/af/320790/000000000000000000015d5b/27/l?subset_id=2&fvd=i4&v=3) format("woff2"),url(https://use.typekit.net/af/320790/000000000000000000015d5b/27/d?subset_id=2&fvd=i4&v=3) format("woff"),url(https://use.typekit.net/af/320790/000000000000000000015d5b/27/a?subset_id=2&fvd=i4&v=3) format("opentype");font-weight:400;font-style:italic;font-display:auto;} */


/* ----- ANIMATIONS ----- */
@keyframes fadeInDesktop {
    0% { padding-top: 25%; opacity: 0; }
    100% { padding-top: 2%; opacity: 1; }
}

@keyframes fadeInPhone {
    0% { padding-top: 50%; opacity: 0; }
    100% { padding-top: 20%; opacity: 1; }
}


/* ----- LANDING PAGE ----- */
#landing_page {
    height: 85vh;
    background: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
}

#landing_page_content {
    padding: 2% 0 0 7%;
    animation-name: fadeInDesktop;
    animation-duration: 1.7s;
}

#landing_page_content_title {
    width: 70%;
    color: purple;

    font-weight: bold;
    font-size: 5vmax;
    line-height: 6vmax;
}

#landing_page_content_text {
    width: 60%;
    color: #4C535B;
    font-size: 2vmax;
}


.home_text {
    margin: 3% 5%;
    color: #4B545A;
    
    font-size: 2vmax;
    font-style: italic;
}

@media (max-width: 500px) {
    .home_text { margin: 10%; }
    #landing_page { background-position: top left; }
    #landing_page_content { padding: 20% 5% 0; animation-name: fadeInPhone; }
    #landing_page_content_title { text-align: center; margin: auto; }
    #landing_page_content_text { font-size: 1.25em; width: unset; text-align: center; }
    .home_text { font-size: 1.75vmax; }
    #logo_img { width: 50%; display: block; margin: auto; }
}
@media (max-width: 900px) and (orientation: landscape)  {
    #landing_page_content_title { font-size: 3em; }
}