ul {
    list-style: circle;
    list-style-position: inside;
}

.middle_tab_content {
    width: 50%;
    margin: auto;
    /* margin-top: 100px; */
    padding: 0 5% 5% 5%;
    font-size: 1.5vmax;
}

.middle_tab_content::first-letter {
    font-size: 300%;
    line-height: 0;
}

@media (max-width: 500px) {
    .middle_tab_content { width: 90%; font-size: 20px; }
}